<div class="attention-dialog">
    <h2 class="dialog-title">
        <span class="icon">&#9888;</span> Attention
    </h2>
    <div class="dialog-content">
        <p>Some services and inspection items are not linked to any concern, do you still wish to continue?</p>
        <div >
            <div class="strong">
                <strong>Services not linked to any concern:</strong>
            
                    <div class="sub-servies">1. Brake Pad R & R</div>
                    <div class="sub-servies">2. Transmission Oil Replacement</div>
                
            </div>
            <div class="strong">
                <strong>Inspection items not linked to any concern:</strong>
            
                    <div class="sub-servies">1. Brake Pads Rear</div>
                    <div class="sub-servies">2. Transmission Oil</div>
                
            </div>
        </div>
    </div>
    <div class="dialog-actions">
        <button class="btn cancel">Cancel</button>
        <button class="btn link-concerns">Link Concerns</button>
        <button class="btn continue">Continue Without Linking</button>
    </div>
</div>