<div class="main-section shadow-box">
  <div class="sub-container">
    <!-- Title and Content Combined -->
    <div class="title-section">
      <span>Submission History</span>
    </div>
    <div class="content-section">
      <div *ngFor="let item of historyDatas" class="history-item">
        <div class="history-info">
          <div class="strong">{{ item.date }}</div>
          <div class="description">Description: {{ item.description }}</div>
        </div>
        <div class="history-details">
          <div>Approved: {{ item.approved }}</div>
          <div>Deferred for later: {{ item.deferred }}</div>
          <div>Channel: {{ item.channel }}</div>
          <div class="amount">{{ item.amount }}</div>
        </div>
      </div>
    </div>



    <!-- Disclaimer, Warranty Policy, and Thank You Section -->
    <div class="info-section">
      <div class="disclimer">DISCLAIMER</div>
      <div class="p">
        <p>
          I hereby authorize the above repair work to be done along with procurement of all necessary materials. Estimates
          are only honored for 30 days from the date of issue. (Demo) Implementation may operate the above vehicle for the
          purposes of testing, inspection, or delivery at my risk. (Demo) Implementation will not be held responsible for
          any loss or damage to the vehicle or articles left in the vehicle in case of fire, theft, accident, or any other
          cause beyond the control of (Demo) Implementation...
        </p>
      </div>
      
    
      <div class="disclimer">WARRANTY POLICY</div>
      <div class="p">
        <p>
          By submitting the estimate you agree with our warranty policy. To view details
          <a href="#" (click)="showWarrantySection()">Click Here</a>.
        </p>
      </div>
      
    
      <div class="thanku">Thank You!</div>
    </div>
    <div class="info-section"> 
    <ng-container *ngIf="isWarrantyVisible">
      <div class="warranty-section">
        <div class="disclimer">WARRANTY POLICY</div> 
        <div class="p">
          <p>
            I hereby authorize the above repair work to be done along with procurement of all necessary materials. Estimates
            are only honored for 30 days from the date of issue. :) (Demo) Implementation may operate the above vehicle for
            the purposes of testing, inspection, or delivery at my risk. (Demo) Implementation will not be held responsible
            for any loss or damage to the vehicle or articles left in the vehicle in case of fire, theft, accident, or any
            other cause beyond the control of (Demo) Implementation. Quotes will only be honored for 30 days. In the event
            legal action is necessary to enforce this contract, I understand that I am solely responsible for all costs.
            REG#5555 (Demo) Implementation may operate the above vehicle for the purposes of testing, inspection, or
            delivery at my risk. (Demo) Implementation will not be held responsible for any loss or damage to the vehicle or
            articles left in the vehicle in case of fire, theft, accident, or any other cause beyond the control of (Demo)
            Implementation. (Demo) Implementation may operate the above vehicle for the purposes of testing, inspection, or
            delivery at my risk. (Demo) Implementation will not be held responsible for any loss or damage to the vehicle or
            articles left in the vehicle in case of fire, theft, accident, or any other testing.
          </p>
        </div> 
     
        <div class="thanku">Thank You!</div>
        <p>Thank you for trusting us. We value your business and look forward to serving you again!</p>
      </div>
    </ng-container>
    </div>
 </div>
</div>