<div class="main-section shadow-box">
  <!-- Title and Content Combined -->
  <div class="title-section">
    <h3>Submission History</h3>
  </div>

  <div class="content-section">
    <div class="history-item">
      <div class="history-info">
        <p><strong>Oct 29, 2024 4:00 am</strong></p>
        <p>Description: <b>N/A</b></p>
      </div>
      <div class="history-details">
        <p>Approved: <b>1</b></p>
        <p>Deferred for later: <b>2</b></p>
        <p>Channel:<b>Online Portal </b> </p>
        <p class="amount">$50.00</p>
      </div>
    </div>

    <div class="history-item">
      <div class="history-info">
        <p><strong>Oct 29, 2024 4:00 am</strong></p>
        <p>Description: <b>N/A</b></p>
      </div>
      <div class="history-details">
        <p>Approved: <b>3</b></p>
        <p>Deferred for later: <b>0</b></p>
        <p>Channel: <b>Online Portal </b></p>
        <p class="amount">$50.00</p>
      </div>
    </div>

    <div class="history-item">
      <div class="history-info">
        <p><strong>Oct 29, 2024 4:00 am</strong></p>
        <p>Description: <b>N/A</b></p>
      </div>
      <div class="history-details">
        <p>Approved: <b>2</b></p>
        <p>Deferred for later: <b>1</b></p>
        <p>Channel: <b>Online Portal </b></p>
        <p class="amount">$50.00</p>
      </div>
    </div>
  </div>


  <!-- Disclaimer, Warranty Policy, and Thank You Section -->
  <ng-container *ngIf="enteredId === 1; else secondSection">
    <!-- First section: info-section -->
    <div class="info-section">
      <h3>DISCLAIMER</h3>
      <p>
        I hereby authorize the above repair work to be done along with procurement of all necessary materials. Estimates
        are only honored for 30 days from the date of issue. :) (Demo) Implementation may operate the above vehicle for
        the purposes of testing, inspection, or delivery at my risk. (Demo) Implementation will not be held responsible
        for any loss or damage to the vehicle or articles left in the vehicle in case of fire, theft, accident, or any
        other cause beyond the control of (Demo) Implementation. Quotes will only be honored for 30 days. In the event
        legal action is necessary to enforce this contract, I understand that I am solely responsible for all costs.
        REG#5555 (Demo) Implementation may operate the above vehicle for the purposes of testing, inspection, or
        delivery at my risk. (Demo) Implementation will not be held responsible for any loss or damage to the vehicle or
        articles left in the vehicle in case of fire, theft, accident, or any other cause beyond the control of (Demo)
        Implementation. (Demo) Implementation may operate the above vehicle for the purposes of testing, inspection, or
        delivery at my risk. (Demo) Implementation will not be held responsible for any loss or damage to the vehicle or
        articles left in the vehicle in case of fire, theft, accident, or any other testing.
      </p>

      <h3>WARRANTY POLICY</h3>
      <p>
        By submitting the estimate you agree with our warranty policy. To view details <span (click)="clickHere()">Click
          Here </span>.
      </p>

      <h3>Thank You!</h3>
    </div>
  </ng-container>

  <ng-template #secondSection>
    <!-- Second section: warranty-section -->
    <div class="warranty-section">
      <h3>WARRANTY POLICY</h3>
      <p>
        I hereby authorize the above repair work to be done along with procurement of all necessary materials. Estimates
        are only honored for 30 days from the date of issue. :) (Demo) Implementation may operate the above vehicle for
        the purposes of testing, inspection, or delivery at my risk. (Demo) Implementation will not be held responsible
        for any loss or damage to the vehicle or articles left in the vehicle in case of fire, theft, accident, or any
        other cause beyond the control of (Demo) Implementation. Quotes will only be honored for 30 days. In the event
        legal action is necessary to enforce this contract, I understand that I am solely responsible for all costs.
        REG#5555 (Demo) Implementation may operate the above vehicle for the purposes of testing, inspection, or
        delivery at my risk. (Demo) Implementation will not be held responsible for any loss or damage to the vehicle or
        articles left in the vehicle in case of fire, theft, accident, or any other cause beyond the control of (Demo)
        Implementation. (Demo) Implementation may operate the above vehicle for the purposes of testing, inspection, or
        delivery at my risk. (Demo) Implementation will not be held responsible for any loss or damage to the vehicle or
        articles left in the vehicle in case of fire, theft, accident, or any other testing.
      </p>
      <h3>Thank You!</h3>

    </div>
  </ng-template>