<div class="kanata-info-container">
    <div class="kanata-header">
      <img src="assets/kanata-logo.png" />
      <span class="kanata-title">Kanata Automotive</span>
    </div>
    <div class="kanata-details">
      <p class="kanata-address">
        94898 Prosacco Crossing, Mission Viejo, Ohio
        <span class="kanata-gst">(GST # 706253086) / 613-223-4456</span>
      </p>
   
    </div>
    <div class="kanata-actions">
      <button class="kanata-email-btn"> Email</button>
      <button class="kanata-call-btn"> Call</button>
    </div>
  </div>
  