<div class="estimate-container">
    <div class="header">
        <h2>Estimate #43312</h2>
        <div class="header-buttons">
            <button class="btn cancel">Cancel</button>
            <button class="btn send">Send Estimate</button>
        </div>
    </div>

    <div class="section">
        <label id="offf"><strong><span id="cust">Customer:</span></strong> Eric Hua — eric.huaautoleap.com / +1 (212)
            981-4511</label>
        <div class="send-options">
            <span><label><input type="checkbox" checked /> Email</label></span>
            <span><label><input type="checkbox" checked /> SMS</label></span>
        </div>
    </div>

    <div>
        <div class="section">
            <label><strong><span id="sub">Subject:</span></strong></label>
            <textarea id="textarea">Get 25% Discount on All repair services this Halloween!</textarea>
        </div>
    </div>

    <div class="section">
        <label><strong><span id="mes">Message:</span></strong></label>
        <textarea>
Hi Anas,

Below is a link to the estimation you requested from (QA) Wrench King SL. Please review and let us know if you have any questions.
        </textarea>
    </div>

    <div class="section">
        <label><strong><span id="form">From:</span></strong> Kanata Automotive — no-replymyautoleap.com</label>
    </div>

    <div class="options">
        <div class="authorization">
            <label>
                <input type="checkbox" checked />
                Authorization Reminder
            </label>
        </div>

        <div class="send-to-same">
            <label>
                <input type="checkbox" checked />
                Send to same contacts as confirmation
            </label>
        </div>
    </div>


</div>