.parent {
  width: 100%;
  height: 100%;
display: flex;
// justify-content: center;
// align-items: center;
  .sub-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
// justify-content: center;
// align-items: center;
    .sub-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .alignment {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
