<div class="parent">

    <div class="sub-parent">


        <app-header></app-header>
        <div class="container">
            <app-ownerimages></app-ownerimages>
            <div class="sub-container">

                <app-concerns-list></app-concerns-list>


            </div>
            
<!--
<app-footer></app-footer>  -->
            <!-- <app-signature-auth></app-signature-auth> 
 <app-estimate></app-estimate> -->
            <!-- <app-thankyou></app-thankyou> -->
            <!--  -->
        </div>
        <app-inspection-results></app-inspection-results>
        <app-summery></app-summery>

        <app-submission></app-submission> 
        
        <app-button></app-button>
        
    </div>


</div>