.concern-item {
    padding: 1rem;
    // width: 1296px;
    display: flex;
    flex-direction: column;
    // align-items: center;

    .concern-tital {
        // width: 1245px;

        .title {
            display: flex;

            .concern-tital {
                color: red;

                .tital-description {
                    color: black;
                }
            }
        }

        .title-name {
            padding-left: 12px;
            display: flex;
            align-items: baseline;

            .level {
                margin-top: 21.5px;
                margin-left: 25px;

                .level-1 {
                    border: 1px solid #1677FF;
                    border-radius: 4px;
                    padding: 5px;
                    color: #1677FF;
                    background-color: #eaf1fb;
                    width: 55px;
                    height: 24px;
                }

                .level-concern {
                    width: 222px;
                    height:24px;
                    margin-left: 10px;
                    border: 1px solid #FF3E3E;
                    border-radius: 4px;
                    padding: 5px;
                    color: #FF3E3E;
                    background-color: #ffefef;
                }
            }
        }

        p {
            padding-left: 12px;
            font-family: Open Sans;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #000000;
        }

        .image img {
            padding-left: 12px;
            width: 324.04px;
            height: 240px;
        }
    }

    .service-engine {
        width: 1245px;
        padding-left: 12px;
        .service-part {
            display: flex;
            justify-content: space-between;
            align-items: center;


            .sevices-name {
                display: flex;
                flex-direction: column;
                .service-name-part{
                    font-family: Open sans;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 27.24px;
                }
                .service-name-service_note{
                    font-family: Open sans;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    opacity: 0.7;
                }
            }

            .actions {
                display: flex;
                justify-content: flex-end;
                gap: 10px;
                align-items: baseline;
                
                span{
                    width: 100px;
                    height: 27px;
                    color: #000000;
                }

                .btn {
                    padding: 0.5rem 1rem;
                    font-size: 1rem;
                    border-radius: 4px;
                }

                .btn-primary {
                    background-color: #00B578;
                    color: #fff;
                    border: none;
                }

                .btn-secondary {
                    background-color: #FFFFFF;
                    color: black;
                    outline: 1px solid rgb(155, 155, 155);
                    border: none;
                }
            }

        }
    }

    .services {
        width: 1245px;
        border: none;
        border-top: 1px solid #cecdcd;
        margin: 20px 0;
    
        .services-name {
            

            margin-top: 8px;
            width: 1245px;
            display: flex;
            justify-content: space-between; /* Ensure left and right are spaced out */
        }
    
        .service-left {
            
            display: flex;
            gap:5px;
            align-items: baseline; /* Center items vertically if needed */
            span{
                font-family: open sans;
                font-weight: 400;
                font-size: 16px;
                line-height: 21.79px;
                color: #000000;
                opacity: 0.7;
            }
        }
    
        .service-right {
            display: flex;
            justify-content: flex-end;
            margin-top: 4px;
            gap: 40px;

            font-family: open sans;
            font-weight: 400;
            font-size: 16px;
            line-height: 21.79px;
            color: #000000;
            opacity: 0.5;
        }
    }
    
    .services-message {
        width: 1245px;
    
        .services-message-name {
            display: flex;
            justify-content: space-between; /* Ensure left and right are spaced out */
    
            .service-left-message {
                width: 900px;
                word-wrap: break-word;
                overflow-wrap: break-word;
                white-space: normal;

                font-family: open sans;
                font-weight: 400;
                font-size: 14px;
                line-height: 19.07px;
                color: #000000;
                opacity: 0.6;
            }
    
            .service-right-message {
                width: 345px;
                display: flex;
                justify-content: center;
                span{
                    color: #FF3E3E;
                }
            }
        }
    }
    

    .total-cost {
        width: 24%;
        height: 1px;
        background-color: #c7c6c6;
        float: right;

        .cost {
            //    padding: 8px;
            // background-color: #571010;
            height: 30px;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 5px;

            font-family: open sans;
            font-weight: 400;
            font-size: 16px;
            line-height: 21.79px;
            color: #000000;
            opacity: 0.5;
        }

    }
}